<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg w-96">
    <h2 class="text-xl font-bold mb-6 text-center">Datos del Préstamo</h2>
    <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
      <label class="block mb-2 text-sm font-medium text-gray-700">Nombre Completo</label>
      <input formControlName="clientName" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-indigo-100" placeholder="Nombre Completo" />

      <label class="block mb-2 text-sm font-medium text-gray-700">DNI</label>
      <input formControlName="clientDNI" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-indigo-100" placeholder="DNI" />

      <label class="block mb-2 text-sm font-medium text-gray-700">Dirección</label>
      <input formControlName="clientAddress" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-indigo-100" placeholder="Dirección" />

      <label class="block mb-2 text-sm font-medium text-gray-700">Monto</label>
      <input formControlName="amount" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-indigo-100" placeholder="Monto" />

      <label class="block mb-2 text-sm font-medium text-gray-700">Plazo</label>
      <select formControlName="duration" class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-indigo-100">
        <option value="1">1 mes</option>
        <option value="6">6 meses</option>
      </select>

      <button type="submit" class="w-full bg-indigo-500 text-white py-2 px-4 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-200">
        Crear Préstamo
      </button>
    </form>
  </div>
</div>
