<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg w-96">
    <h2 class="text-xl font-bold mb-6 text-center">Datos del Préstamo</h2>
    <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">

      <!-- Nombre y Apellidos -->
      <div class="mb-4">
        <label class="block mb-2 text-sm font-medium text-gray-700">Nombre y Apellidos</label>
        <input formControlName="fullName" class="w-full px-4 py-2 border border-gray-300 rounded-lg bg-gray-100"
          placeholder="Nombre y Apellidos" />
      </div>

      <!-- DNI -->
      <div class="mb-4">
        <label class="block mb-2 text-sm font-medium text-gray-700">DNI/RUC</label>
        <input formControlName="identifier" class="w-full px-4 py-2 border border-gray-300 rounded-lg bg-gray-100"
          placeholder="DNI" />
        <div *ngIf="dniErrorMessage" class="text-red-500">
          {{ dniErrorMessage }}
        </div>
      </div>

      <!-- Monto -->
      <div class="mb-4">
        <label class="block mb-2 text-sm font-medium text-gray-700">Monto</label>
        <input formControlName="amount" class="w-full px-4 py-2 border border-gray-300 rounded-lg"
          placeholder="Monto" />
      </div>

      <!-- Plazo (en meses) -->
      <div class="mb-4">
        <label class="block mb-2 text-sm font-medium text-gray-700">Plazo (en meses)</label>
        <select formControlName="months" class="w-full px-4 py-2 border border-gray-300 rounded-lg">
          <option value="" disabled selected>Seleccione el plazo</option>
          <option value="1">1 mes</option>
          <option value="6">6 meses</option>
        </select>
      </div>

      <!-- Mensajes de error o éxito -->
      <div *ngIf="errorMessage" class="text-red-500 mb-4 text-center">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="text-green-500 mb-4 text-center">
        {{ successMessage }}
      </div>

      <!-- Botones -->
      <button type="submit" [disabled]="loanForm.invalid"
        class="w-full bg-indigo-500 text-white py-2 rounded-lg hover:bg-indigo-700">
        Crear Préstamo
      </button>
      <button type="button" (click)="cancelRegistration()"
        class="w-full bg-gray-500 text-white py-2 rounded-lg hover:bg-gray-700 mt-2">
        Cancelar
      </button>
    </form>
  </div>
</div>